<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<!-- <title>Blog</title> -->
	<meta name="description" content="{{ page.title }} - {{ site.title }} - {{ site.author }}({{ site.email }})">
    <title>
      {{ page.title }} - {{ site.title }}
    </title>
	<!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS 
    <link href="/css/blog.css" rel="stylesheet">-->
    <!-- index css -->
    <link href="/css/index.css" rel="stylesheet">
	<!-- pagments CSS-->
	<link href="/css/pygments.css" rel="stylesheet">
        <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"> </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
   <!-- Back Top js-->
    <script src="/js/index.js"></script>
	</head>
	<body>