          <ul class="nav navbar-nav">
            <li>
              <a href="{{baseurl}}/categories.html">
                Categories
              </a>
            </li>
            <li>
              <a href="{{baseurl}}/tags.html">
                Tags
              </a>
            </li>
            <li>
              <a href="{{baseurl}}/archives.html">
                Archives
              </a>
            </li>
            <li>
              <a href="{{baseurl}}/notes.html">
                Notes
              </a>
            </li>
            <li>
              <a href="{{baseurl}}/about.html">
                About
              </a>
            </li>
          </ul>
